# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales de Editores
*.swp
*~
.vscode/
.idea/
*.log

# Artefactos de Build (Generados automáticamente)
/build/
/dev/*.zip
/dev/metadata.json
/dev/webapps.json
/dev/webapps.json.bak
*.zip
*.bak

# Archivos de log de JS
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración locales de Git
.gitignore_global
